# Limine configuration for SexOS (Production SASOS)
TIMEOUT=1

:SexOS (Self-Hosting Release)
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/sexos-kernel
    MODULE_PATH=boot:///boot/initrd.sex
    COMMENT=Sex Microkernel: Superior SASOS Foundation.
